.galeria-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}

.galeria-container .galeria-titulo{
    width: 50%;
    padding-bottom: 50px;
}

.galeria-container .galeria-titulo h3{
    font-size: 3em;
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}

.galeria-container .caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria-container .caja .imagenes{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.galeria-container .caja .imagenes img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 15px;
    border-radius: 5px;
}

.galeria-container .caja .imagenes .imagenes-texto p{
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.507) 0.1em 0.1em 0.2em;
    padding: 5px;
}

@media(max-with: 769px){
    .galeria-container .caja{
        flex-direction: column;
    }
    .galeria-container .caja .imagenes{
        width: 100%;
    }
}

@media(max-with: 643px){
    .galeria-container .galeria-titulo{
        width: 100%;
    }
    
    .galeria-container .galeria-titulo h3{
        font-size: 1em;
    }
}