.galeria-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}

.galeria-container .galeria-titulo{
    width: 50%;
    padding-bottom: 50px;
}

.galeria-container .galeria-titulo h3{
    font-size: 3em;
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}

.galeria-container .caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria-container .caja .imagenes{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.galeria-container .caja .imagenes img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 15px;
    border-radius: 5px;
}

.galeria-container .caja .imagenes .imagenes-texto p{
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.507) 0.1em 0.1em 0.2em;
    padding: 5px;
}

@media(max-with: 769px){
    .galeria-container .caja{
        flex-direction: column;
    }
    .galeria-container .caja .imagenes{
        width: 100%;
    }
}

@media(max-with: 643px){
    .galeria-container .galeria-titulo{
        width: 100%;
    }
    
    .galeria-container .galeria-titulo h3{
        font-size: 1em;
    }
}

.test-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.test-container h1{
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
} 

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.test-container .btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}
#username{
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}
#end-text{
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn{
    border: none;
}

.fa-home{
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26);
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width:  100%;
    border-radius: 4px;
    background: #447efc;
    transition: all 0.3s ease;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 10px -10px 25px 0 rgba(143,64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);    transform: scale(1.02);
    transform: transform 100ms;
    transform: translate(0, -6px);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    color: #fff;
}

#question{
    font-size: 3rem;
    padding: 15px;
    font-family: 'Sofia', cursive;
}

/* CAMBIA DE ACUERDO A LA RESPUESTA*/
.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* encabezar pantalla */
#hud{
    display: flex;
    justify-content: space-between;
    margin-top: 25rem;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

/* Barra de progreso*/
#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 163, 223);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: rgb(188, 11, 223);
    width: 0%;
}
@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}