*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

p{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h1{ 
    color: black ;
    font-family: 'Sofia', cursive;
    font-size: 40px;
}

body {
    background-image: url("/SRC/Images/background/SakuraTrees.jpg");
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    font-weight: 400;
}

footer{
    background:rgb(211, 146, 189, 0.5);
}

.footer{
    font-size: 15px;
}

a {
    text-decoration: none;
}

.long-text {
    text-align: start;
}

.mySlides {display: none;}

.banner{
    display: block;
    margin: 100px auto 40px auto;
    width: 40%;
}

.banner > .banner-image {
    display: block;
    margin: 100px auto 40px auto;
    width: 40%;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    padding: 4px;
    margin: auto 50px;
}

.hero {
    max-width: 1400px;
    margin: auto;
    object-fit: cover;
}

.hero > img{
    object-fit: cover;
    width: 100%;
}

.hero > video{
    object-fit: cover;
    width: 92%;
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 220px 220px 220px 1fr;
    gap: 4px;
    column-gap: 30px;
    padding: 4px;
    margin: auto 100px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.grid-venta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    column-gap: 30px;
    padding: 4px;
    margin: auto 100px;
}

.grid-venta > div {
    text-align: center;
    padding: 20px 0 0 0;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.description{
    grid-column-start: 4;
    grid-column-end: 5;
}
/*
.description > p{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
*/

.item {
    grid-column-start: 1;
    grid-column-end: 5;
}

.wrapper{
    grid-column-start: 1;
    grid-column-end: 5;
}


.spotify-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.animatio-grid {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.prices-grid{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.itemPatron{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgba(101, 93, 138,0.7);
    position: fixed; /* Set the navbar to fixed position */
    font-size: 20px;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}
#ad_lgn{
    margin-left: 1000px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
    object-fit: cover;
}

.slideshow-container > div > img {
    object-fit: cover;
    width: 100%;
}

.programation-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    column-gap: 30px;
    padding: 4px 20px;
    margin: auto 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.programation{
    text-align: center;
    padding: 20px 0;
    max-width: 900px;
    margin: auto;
    object-fit: cover;
}

.programation > section > img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

/* Sell Tikets */

.box-tikets {
    display: block;
    border: 6px solid #5f5f84;
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.box-tikets .textbox p {
    font-size: 16px;
    line-height: 1.5em;
    color: #000;
    margin-bottom: 0em;
}

p.space {
    margin-left: 1.2em;
    position: relative;
    text-align: left;
}

p.space::before {
    content: "※";
    position: absolute;
    left: -1.3em;
    color: #5f5f84;
}

.ticket_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.ticket_flex .price {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1em;
}

/*Button*/

.btn {
    overflow: hidden;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.25rem;
    position: relative;
    margin-bottom: 20px;

    border-radius: 15px;
    box-shadow: 0 0 0 0 rgba(143,64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.btn::after {
    content: "";
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -150px;
    background-color: pink;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -2;
    transition: transform 0.5s ease;
}

.btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143,64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

.btn:hover::after{
    transform: rotate(150deg);
}

.box-tikets .ticket_flex .btn {
    width: 50%;
    margin-bottom: 0;
}

/* Header */

.box-tikets .title-tickets{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 1.3em;
    border-bottom: 2px solid #5f5f84;
    padding-bottom: 0.3em; 
    text-align: left;
}

/* Animation */

#container {
    color:rgb(7, 7, 7);
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display:block;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#E0BBE4;
  }
  #flip div:first-child div {
    background:rgb(211, 146, 189);
  }
  #flip div:last-child div {
    background:#957DAD;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }

  /*Credit Card Information*/

  .wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: #21cdd3;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px dashed #21cdd3;
}

.wrapper h4 {
    padding-bottom: 5px;
    color: #21cdd3;
}

.input_group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input_box:last-child {
    margin-right: 0;
}

.input_box .name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #0003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.input_box .name:focus, .dob:focus {
    -webkit-box-shadow: 0 0 2px 1px #21cdd3;
    -moz-box-shadow: 0 0 2px 1px #21cdd3;
    box-shadow: 0 0 2px 1px #21cdd3;
    border: 1px solid #21cdd3;
}

.input_box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000003;
    border-right: none;
}

.name:focus+.icon {
    background-color: #21cdd3;
    color: #fff;
    border-right: 1px solid #21cdd3;
    border: none;
    transition: 1s;
}

.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.radio {
    display: none;
}

.input_box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input_box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}

.input_box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+label {
    background-color: #21cdd3;
    color: #fff;
    transition: 0.5s;
}

.input_box button {
    width: 100%;
    background-color: #21cdd3;
    border: none;
    color: #fff;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.input_box button:hover {
    cursor: pointer;
    background-color: #05b1a3;
}














/*FORMMMMMMMMMMMMMMMMMMMMM */
.form {
    margin: auto;
    background-color: rgba(255,255,255,0.7);
    /* #5f5f84;
     rgba(255,255,255,0.7); */
    border-radius: 5px;
    box-sizing: border-box;
    height: 320px;
    padding: 20px;
    width: 50%;
    margin-bottom: 1px;
}

.title {
    font-family:'Sofia', cursive;
    color: #5f5f84;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    font-family:'Nunito', sans-serif ;
    color: #5f5f84;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.ic2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.input {
    background-color: #5f5f84;
    border-radius: 3px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-family:'Nunito', sans-serif ;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    
}

.cut {
    background-color: #ffffffb3; 
    border-radius: 2px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
}

.cut-short {
    width: 60px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}


.placeholder {
    color: #ffffffb3; 
    font-family:'Nunito', sans-serif ;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

/* .input:not(:placeholder-shown) ~ .placeholder {
    color: #adb5bd;
} */

.input:focus ~ .placeholder {
    color:  #5f5f84;
}

.submit {
    background-color:  #2d2d43;/* border: 6px solid #5f5f84 #ffffffb3; */
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    color: #ffffffb3;
    cursor: pointer;
    font-size: 28px;
    font-family:'Nunito', sans-serif ;
    height: 60px;
    width: 120px;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    /* width: 100%;*/
    text-decoration: none;
}

/* .submit:active {
  background-color: #06b;
} */
/*Artist Page*/

.box-artist {
    display: block;
    border: 6px solid #5f5f84;
    background-color: rgba(255,255,255,0.7);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.box-artist .textbox_artist p {
    line-height: 1.5em;
    color: #000;
    margin-bottom: 0em;
}
p.text_main {
    position: relative;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.6em
    
}

p.text {
    position: relative;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6em
}
.artist_flex {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 100px;
    align-items: center;
    margin-bottom: 25px;
}

/* Title*/

.box-artist .title-artist{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 1.3em;
    border-bottom: 2px solid #5f5f84;
    padding-bottom: 0.3em; 
    text-align: left;
}

